<form>
  <div class="form-group">
    <label for="name">Course Name:</label>
    <input type="text" class="form-control" id="name" name="name"
      required
      [(ngModel)]="course.name">
  </div>
  <div class="form-group">
    <label for="courseId">Course ID:</label>
    <input type="number" class="form-control" id="courseId" name="courseId"
      required
      [(ngModel)]="course.courseId">
  </div>
  <div class="form-group">
    <label for="schoolId">School ID:</label>
    <input type="number" class="form-control" id="schoolId" name="schoolId"
      required
      [(ngModel)]="course.schoolId">
  </div>
  <div class="form-group">
    <label for="credits">Credits :</label>
    <input type="number" class="form-control" id="credits" name="credits"
      required
      [(ngModel)]="course.credits">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitCourse()">Submit</button>
</form>
<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error saving this course.'}}
</div>