<div class="container">
    <div class="row">
        <header></header>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    <!--
    <div *ngIf="isLoggedIn == false">
        goToRoute()   
    </div>
    <div *ngIf="isLoggedIn">
        <router-outlet name="loggdin"></router-outlet>
    </div>
    
    <div *ngIf="!isLoggedIn">
        <button class="pull-right" (click)="signInService.socialSignIn('google')"><span></span> Sign in with Google</button> 
    </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div> -->
 </div>